postgresql:
  enabled: true
  image:
    repository: postgres
    tag: "16"
    pullPolicy: IfNotPresent
  postgresUser: ps_user
  postgresPassword: SecurePassword
  postgresDatabase: ps_db
  service:
    type: NodePort
    port: 5432
  persistence:
    enabled: true
    storageClass: manual
    accessMode: ReadWriteMany
    size: 5Gi
